.container {
	width: 240px;
	height: 240px;
	/*background-color: gray;*/
	/*line-height: 30px;*/
}

.Box {
	display: inline-block;
	position: relative;
	background-color: blue;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 50px;
	width: 50px;
}